 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/hands_reaching.jpg");
  background-position: 50% 50.38%;
}

.u-section-1 .u-sheet-1 {
  min-height: 447px;
}

.u-section-1 .u-group-1 {
  min-height: 197px;
  margin-top: 250px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin: 111px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-1 .u-group-1 {
    min-height: 108px;
    margin-top: 286px;
    margin-bottom: 47px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 53px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 47.01% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-1 .u-group-1 {
    min-height: 109px;
    margin-top: 393px;
    margin-bottom: 31px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 85.18% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 232px;
    margin-bottom: 9px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 62.36% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-1 .u-group-1 {
    min-height: 439px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    letter-spacing: 9px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 642px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 58px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 504px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 9px 24px 0;
}

.u-section-2 .u-text-1 {
  margin: 19px 32px 0 6px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  line-height: 28.8px;
  font-weight: 400;
  margin: 35px 6px 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 47px auto 0 6px;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  margin: 23px auto 0 6px;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 504px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 0 14px;
}

.u-section-2 .u-image-1 {
  width: 621px;
  height: 413px;
  margin: 26px auto 0 12px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 41px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 526px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 24px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: 19px;
    margin-left: 24px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 526px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    width: 548px;
    height: 365px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 416px;
    order: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    line-height: 1.4;
    font-weight: normal;
    width: auto;
    margin-top: 34px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 28px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    letter-spacing: 2px;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 416px;
    order: 1;
  }

  .u-section-2 .u-image-1 {
    width: 420px;
    height: 280px;
    margin-top: 48px;
    margin-left: -29px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 44px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 347px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 35px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    width: 560px;
    height: 292px;
    margin-left: -30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 26px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 292px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 177px;
    margin-left: 0;
  }
} .u-section-3 {
  min-height: 462px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-bottom: 60px;
  margin-top: 1px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/Logo.png");
  min-height: 401px;
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 401px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 36px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: bold;
  margin: 138px 11px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 100;
  font-size: 2.25rem;
  margin: 23px 75px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 509px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-3 .u-image-1 {
    min-height: 508px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 55px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 291px;
    margin-right: -7px;
    margin-left: 8px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: -7px;
    margin-left: 8px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 625px;
  }

  .u-section-3 .u-image-1 {
    min-height: 623px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 57px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 178px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 827px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .u-section-3 .u-image-1 {
    min-height: 555px;
    background-position: 50% 48.87%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 198px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 45px;
    padding-left: 65px;
  }

  .u-section-3 .u-text-1 {
    width: 530px;
    margin-top: 35px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 9px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 50vw;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 4px;
  }

  .u-section-3 .u-image-1 {
    min-height: 410px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 254px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 45px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-2 {
    line-height: 1;
    margin-top: 14px;
    margin-left: 14px;
    margin-right: 14px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 577px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 16px 0 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 677px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-weight: normal;
  margin: 0 197px 0 3px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 46px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 31px auto 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 455px;
  background-image: url("images/henrike_portrait.jpg");
  background-position: 51.52% 18.95%;
  background-size: 165%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 44px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 558px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 70px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 375px;
    background-size: auto 145%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 287px;
    background-size: auto 165%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 768px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-image-1 {
    min-height: 431px;
    background-size: 140%;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 801px;
  }

  .u-section-4 .u-text-1 {
    font-weight: 300;
    margin-top: 18px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 32px;
  }

  .u-section-4 .u-image-1 {
    min-height: 281px;
    background-position: 50% 23.13%;
    background-size: 130%;
  }
} .u-section-5 {
  min-height: 462px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 462px;
}

.u-section-5 .u-text-1 {
  background-image: none;
  line-height: 1.4;
  font-size: 1.875rem;
  font-weight: normal;
  margin: 50px 80px 0 67px;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 50px auto 0 56px;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-image-1 {
  background-image: url("images/couple_running.jpg");
  background-position: 50% 30.99%;
  min-height: 462px;
}

.u-section-5 .u-image-2 {
  background-image: url("images/flogo_with_bg.png");
  min-height: 462px;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding-right: 84px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 326px;
  }

  .u-section-5 .u-layout-cell-1 {
    background-position: 50% 16.2%;
    min-height: 381px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 47px;
    margin-left: 34px;
  }

  .u-section-5 .u-image-1 {
    min-height: 381px;
  }

  .u-section-5 .u-image-2 {
    min-height: 381px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 69px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 838px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 54px;
    margin-right: 33px;
    margin-left: 48px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 40px;
    margin-left: 33px;
  }

  .u-section-5 .u-image-1 {
    min-height: 438px;
  }

  .u-section-5 .u-image-2 {
    min-height: 875px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 53px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1590px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 88px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 168px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 32px;
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-5 .u-image-1 {
    min-height: 678px;
  }

  .u-section-5 .u-image-2 {
    min-height: 656px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 40px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1010px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 173px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 24px;
  }

  .u-section-5 .u-image-1 {
    min-height: 425px;
  }

  .u-section-5 .u-image-2 {
    min-height: 411px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 25px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 439px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 20px 0 30px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 386px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  letter-spacing: 15px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 41px 8px 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 100;
  font-size: 1.25rem;
  margin: 36px 48px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 386px;
}

.u-section-6 .u-form-1 {
  height: 308px;
  width: 504px;
  margin: 40px auto;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: 450px;
    margin-right: 0;
  }

  .u-section-6 .u-form-1 {
    width: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-bottom: 27px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 41px;
    margin-right: 10px;
    margin-left: -3px;
  }

  .u-section-6 .u-form-1 {
    width: 318px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-form-1 {
    height: 305px;
    width: 522px;
    margin-top: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: 38px;
    margin-left: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 38px;
    margin-bottom: -24px;
    margin-left: 0;
  }

  .u-section-6 .u-form-1 {
    width: 340px;
    margin: 71px 12px 0 0;
  }
}